body {
  height: 4000px;
  background: linear-gradient(141deg, #F9F9F9 0%, #F9F9F9 51%, #6f2232 75%);
  font-family: 'Lato', sans-serif;
}

.name {
	color: #A2100C;
	font-size: 72px;
	text-align: left;
	font-family: 'Lato', sans-serif;
}
.header {
	/*float: left;*/
}

.portrait{
	text-align: center;
}

h2 {
	color: #A2100C;
}