body {
  height: 4000px;
  background: #F9F9F9;
  font-family: 'Comfortaa', sans-serif;
}

.name {
	color: #A2100C;
	font-size: 72px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}
.header {
	/*float: left;*/
	text-align: center;
}

.portrait{
	text-align: center;
}

h2 {
	color: #A2100C;
}

.blurb{
	text-align: center;
}