body {
  background: #F9F9F9;
  font-family: 'Comfortaa', sans-serif;
  transition: background.color 0.2s;
}


.name {
	color: #f99245;
	font-size: 72px;
	text-align: center;
	font-family: 'Lora', sans-serif;
}
.header {
	/*float: left;*/
	text-align: center;
}

.portrait{
	text-align: center;
}

h2 {
	color: #f99245;
}

.blurb{
	text-align: center;
}

.cards{
	text-align: center;
}

.bg-primary {
    background-color: #f99245!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f99245;
    border-color: #1E162E;
}

.test {
	border: 2px solid black;
}

